<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Testing</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>NBA Player Stats</h1>
        <p>everybody get up it's time to slam now we've got a real jam going down welcome to the space jam</p>
      </div>
    </div>

    <!-- first section -->
    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <h5>it's your chance do your dance at the space jam alright:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Player Data</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="well">
          <h5>second chart:</h5>
          <select id="selDataset2" onchange="optionChanged2(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Player Data</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <div id="plot1a"></div>
      </div>

      <div class="col-md-6">
        <div id="plot1b"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div id="plot2a"></div>
      </div>

      <div class="col-md-6">
        <div id="plot2b"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div id="plot3a"></div>
      </div>

      <div class="col-md-6">
        <div id="plot3b"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div id="plot4a"></div>
      </div>

      <div class="col-md-6">
        <div id="plot4b"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div id="plot5a"></div>
      </div>

      <div class="col-md-6">
        <div id="plot5b"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div id="plot6a"></div>
      </div>

      <div class="col-md-6">
        <div id="plot6b"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div id="plot7a"></div>
      </div>

      <div class="col-md-6">
        <div id="plot7b"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div id="plot8a"></div>
      </div>

      <div class="col-md-6">
        <div id="plot8b"></div>
      </div>
    </div>
  <!-- second section -->
 <!--  <div class="row">
    <div class="col-md-2">
      <div class="well">
        <h5>second chart:</h5>
        <select id="selDataset2" onchange="optionChanged2(this.value)"></select>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Player Data</h3>
        </div>
        <div id="sample-metadata" class="panel-body"></div>
      </div>
    </div> -->
<!--     <div class="col-md-5">
      <div id="plot5"></div>
    </div>
    <div class="col-md-5">
      <div id="plot6"></div> -->
<!--     </div>
  </div>
</div>

  </div>
 -->
  <!-- third div -->
<!--   <div class="row">
    <div class="col-md-12">
      <div id="plot5"></div>
    </div>
  </div>
 -->
  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
